@font-face {
    font-family: face;
    src: url(shrift/InstrumentSerif-Regular.ttf);
}
.container {
    width: 1140px;
    margin: 0 auto;
}
body {
    background-color: rgba(255, 239, 205, 1);
    margin: 0 auto;
}
header {
    height: 181px;
    align-items: center;
    font-size: 20px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.table-of-contents{
    width: 1140px;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
    font-size: 28px;
    scroll-behavior: smooth;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
}
h2{
    font-size: 48px;
    font-family: 'face';
    width: 500px;
}
h3{
    text-align: center;
    font-size: 48px;
}
p{
    font-size: 32px;
    font-family: 'face';
}

#cover{
    height: 604px;
    display: flex;
    font-family: 'Bitter'
}
.image-in-cover{
    width: 400px;
    
}
button{
    border-radius: 15px;
    font-size: 32px;
    width: 441px;
    height: 72px;
    background-color: rgba(66, 69, 48, 1);
    color: white;
    border: none;
    font-family: 'Bitter';
    margin-top: 10px
    
}
.button-for-cover{
    float: right;
}
button:hover{
    box-shadow: 8px 10px 5px 2px rgba(0, 0, 0, 0.2);
}
.cover-discription{
    width: 450px;
    margin: 0;
    float: right;
}
p{
    margin: 0;
}

#popular-products{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
#about-us{
    height: 543px;
    background-color: rgba(166, 142, 116, 1);
    border-radius: 25px;
    display: flex;
    margin-bottom: 100px;
}

.about-us-ecler{
    float: right;

}
.about-us-discription{
    width: 506px;
    margin-top: 400px;
}
#catalog{
    padding-top: 100px;
}
#autorization{
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
input{
    width: 744px;
    height: 101px;
    border-radius: 15px;
    background-color: rgba(221, 201, 170, 1);
}
.working-conditions{
    width: 344px;
    height: 49px;
    background-color: rgba(227, 201, 171, 0.87);
    border-radius: 15px;
    text-align: center;
    margin: 20px;

}
.text-in-footer{
    font-size: 24px;
}
#footer{
    display: flex;
    align-items: center;
}
.spisok-in-footer{
    width: 344px;
}
.footer-contant{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-for-autorize{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.full-menu-for-button{
    width:1123px ;
    height: 633px;
    background-image: url(photo/full-catalogs.png);
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border-radius: 25px;
}
.full-menu-button{
    background-color: rgba(166, 142, 116, 1);
}
.bottom-row-elements-catalog{
    margin-top: 10px;
}
.top-row-elements-catalog{
    margin-bottom: 10px;
}
#delivery-and-payment{
    background-image: url(photo/Background-d&p.png);
    height: 471px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 20px;
    gap: 20px;
}
.delivery-block{
    height: 377px;
    width: 540px;
    background-color: rgba(232, 212, 182, 1);
    border-radius: 25px;
}
.payment-block{
    height: 377px ;
    width: 540px;
    background-color: rgba(232, 212, 182, 1);
    border-radius: 25px;
}
.h2-for-dap{
    margin-left: 300px;

}
.dap-content{
    display: flex;
}
li{
    font-size: 32px;
}
#contact{
    height: 598px;
    margin-bottom: 50px;
}
.contact-but{
    background-color: rgba(166, 142, 116, 1);
    height: 69px;
    width: 575px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    border-radius: 20px;
    margin: 20px;

}
.all-towar-card{
    height: 434px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.towar-card{
    width: 312px;
    height: 434px;
    background-color: rgba(227, 201, 171, 0.87);
    border-radius: 25px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}
.card-content{
    margin-top: 15px;
}
.white-text{
    color: white;
}
.text-14px{
    font-size: 14px;
}
.button-card-towar{
    width: 245px ;
    height: 49px;
    font-size: 24px ;
}
.horizontal-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;

}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.footer-background{
    height: 400px;
    background-color: rgba(210, 190, 160, 1);
}
.margin-bottom{
    margin-bottom: 50px;
}
.contacts-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

