@font-face {
    font-family: face;
    src: url(shrift/InstrumentSerif-Regular.ttf);
}
.container {
    width: 1140px;
    margin: 0 auto;
}
body {
    background-color: rgba(255, 239, 205, 1);
    margin: 0 auto;
}
header {
    height: 181px;
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 20px;
}
.table-of-contents{
    width: 1140px;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: black;
    font-size: 28px;
    scroll-behavior: smooth;
}
h1{
    align-items: center;
    font-size: 64px;
    width: 1140PX;
}
h2{
    font-size: 48px;
    font-family: 'face';
    width: 500px;
}
p{
    font-size: 32px;
    font-family: 'face';
}

#cover{
    height: 604px;
    display: flex;
    font-family: 'Bitter'
}
.image-in-cover{
    width: 400px;
    
}
button{
    border-radius: 15px;
    font-size: 32px;
    width: 441px;
    height: 72px;
    background-color: rgba(66, 69, 48, 1);
    color: white;
    border: none;
    font-family: 'Bitter';
    margin-top: 10px
    
}
.button-for-cover{
    float: right;
}
button:hover{
    box-shadow: 8px 10px 5px 2px rgba(0, 0, 0, 0.2);
}
.cover-discription{
    width: 450px;
    margin: 0;
    float: right;
}
p{
    margin: 0;
}

#popular-products{
    display: flex;
    align-items: center;
    justify-content: baseline;
}
#about-us{
    height: 543px;
    background-color: rgba(166, 142, 116, 1);
    border-radius: 25px;
    display: flex;
    margin-bottom: 100px;
}

.about-us-ecler{
    float: right;

}
.about-us-discription{
    width: 506px;
    margin-top: 400px;
}
#catalog{
    padding-top: 100px;
}
#autorization{
    text-align: center;

}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input{
    width: 744px;
    height: 101px;
    border-radius: 15px;
    background-color: rgba(221, 201, 170, 1);
}
